<header class="header">
  <div class="container">
    <div class="header-top__row">
      <div class="header-site__map">
        <div class="header-site__burger">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M22 8V6L2 6L2 8H22Z" fill="white"/>
            <path d="M22 13V11H2L2 13H22Z" fill="white"/>
            <path d="M22 18V16H2L2 18H22Z" fill="white"/>
          </svg>
        </div>
        <div class="header-site__text">
          Карта сайта
        </div>
      </div>
      <div class="header-main__menu-left">
        <a href="#">
          <div class="main__menu--item">
            <div class="menu__item--text">
              Отрасли
            </div>
            <div class="menu__item--scroll">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99482 7.41169L1.10651 2.52338L0.0427611 3.58712L4.93108 8.47544L4.93059 8.47592L5.99125 9.53658L5.99174 9.5361L5.99998 9.54434L7.06372 8.48059L7.05548 8.47235L11.9654 3.56244L10.9047 2.50178L5.99482 7.41169Z" fill="white" fill-opacity="0.4"/>
              </svg>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="main__menu--item">
            <div class="menu__item--text">
              Завод
            </div>
            <div class="menu__item--scroll">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99482 7.41169L1.10651 2.52338L0.0427611 3.58712L4.93108 8.47544L4.93059 8.47592L5.99125 9.53658L5.99174 9.5361L5.99998 9.54434L7.06372 8.48059L7.05548 8.47235L11.9654 3.56244L10.9047 2.50178L5.99482 7.41169Z" fill="white" fill-opacity="0.4"/>
              </svg>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="main__menu--item">
            <div class="menu__item--text">
              Производство
            </div>
            <div class="menu__item--scroll">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99482 7.41169L1.10651 2.52338L0.0427611 3.58712L4.93108 8.47544L4.93059 8.47592L5.99125 9.53658L5.99174 9.5361L5.99998 9.54434L7.06372 8.48059L7.05548 8.47235L11.9654 3.56244L10.9047 2.50178L5.99482 7.41169Z" fill="white" fill-opacity="0.4"/>
              </svg>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="main__menu--item">
            <div class="menu__item--text">
              Услуги
            </div>
            <div class="menu__item--scroll">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99482 7.41169L1.10651 2.52338L0.0427611 3.58712L4.93108 8.47544L4.93059 8.47592L5.99125 9.53658L5.99174 9.5361L5.99998 9.54434L7.06372 8.48059L7.05548 8.47235L11.9654 3.56244L10.9047 2.50178L5.99482 7.41169Z" fill="white" fill-opacity="0.4"/>
              </svg>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="main__menu--item">
            <div class="menu__item--text">
              Закупки
            </div>
          </div>
        </a>
        <a href="#">
          <div class="main__menu--item">
            <div class="menu__item--text">
              Карьера
            </div>
            <div class="menu__item--scroll">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99482 7.41169L1.10651 2.52338L0.0427611 3.58712L4.93108 8.47544L4.93059 8.47592L5.99125 9.53658L5.99174 9.5361L5.99998 9.54434L7.06372 8.48059L7.05548 8.47235L11.9654 3.56244L10.9047 2.50178L5.99482 7.41169Z" fill="white" fill-opacity="0.4"/>
              </svg>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="main__menu--item">
            <div class="menu__item--text">
              Контакты
            </div>
          </div>
        </a>
      </div>
      <div class="header-main__menu-right">
        <a href="mailto:info@redanchor.ru" class="main__menu--item">
          <span class="menu__item--text">info@redanchor.ru</span>
        </a>
        <a href="tel:7831 211-55-11" class="main__menu--item">
          <span class="menu__item--text">+7 831 211-55-11</span>
        </a>
      </div>
    </div>
    <div class="header__buttom">

    </div>
  </div>
</header>
