/* @font-face {
    font-family: 'PFDinTextCondPro';
    src: url('PFDinTextCondPro-Medium.woff2') format('woff2'),
        url('PFDinTextCondPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('PFDinTextCondPro-Medium.woff2') format('woff2'),
        url('PFDinTextCondPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('PFDinTextCondPro-Light.woff2') format('woff2'),
        url('PFDinTextCondPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('PFDinTextCondPro-Light.woff2') format('woff2'),
        url('PFDinTextCondPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Bluescreens';
    src: url('TTBluescreens-Bold.woff2') format('woff2'),
        url('TTBluescreens-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Bluescreens';
    src: url('TTBluescreens-Bold.woff2') format('woff2'),
        url('TTBluescreens-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
 */
