// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

// .site-cntainer{
//   overflow: auto;
// }
a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header-top__row {
  height: 56px;
  // height: 500px;
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  background: var(--ui-black-90, rgba(21, 15, 15, 0.90));
}

.header-site__map {
  display: flex;
  margin-left: 48px;

}

.header-site__text {
  color: var(--txt-white, #FFF);
  text-align: right;
  font-family: PF Din Text Cond Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin-left: 8px;
}

.header-main__menu-left {
  display: flex;
  margin-left: 48px;
}

.main-menu__visible-links {
  display: flex;
  list-style: none;
}

.main-menu__item{
  position: relative;
}

.main-menu__item+.main-menu__item {
  margin-left: 16px;
}

.main-menu__link+.main-menu__link-icone {
  margin-left: 6px;
}

.dropdown-menu + .main-menu__item{
  margin-left: 16px;
}

.main-menu__link {
  color: var(--txt-white, #FFF);

  /* Text/1366/S3 Light */
  font-family: PF Din Text Cond Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.8px;
}
.main-menu__link-icone{

}

.dropdown-menu {
  width: 343px;
  position: absolute;
  display: inline-flex;
  padding: 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: var(--ui-black, #110101);
  left: 0;
  top: 100%;
  margin-top: 22px;
  display: none;
}

.dropdown-menuOne {
  display: none;
  left: 15%;
}

.dropdown-menuTwo {
  display: none;
  left: 35%;
}

.dropdown-menu__link {
  color: var(--txt-white, #FFF);

  /* Text/1366/S2 Light */
  font-family: PF Din Text Cond Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.6px;
}

.main-menu__link:hover + .dropdown-menu{
  display: block;
}
